.completeQ {
    width: 90vw;
    margin: 10px 5px;
    background-color: none;
}

.selected {
    // color: red;
    border: rgb(113, 168, 208) 1px solid;
    background-color: rgb(113, 168, 208);
    
}

.wrong {
    border: rgb(255, 0, 0) 1px solid;
    background-color: red;
}

.correct {
    border: rgb(0, 255, 0) 1px solid;
    background-color: rgb(0, 255, 0);
}